{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('auth') }}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block body %}
    <form>
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <button id="auth_submit_button" type="button" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
