<select class="form-select" aria-label="Default select example">
    <option selected>Выбрать упражнение</option>
    {% for exercise in all %}
        <li><a class="dropdown-item"></a></li>
        <option value="{{ exercise['id'] }}">{{ exercise['name'] }}</option>
    {% endfor %}
</select>

<div id=""></div>

<button id="add_set_button" type="button" class="btn btn-secondary btn-sm">Добавить подход</button>
<button id="del_set_button" type="button" class="btn btn-danger btn-sm">Удалить подход</button>
