{% extends 'base.html.twig' %}

{% block title %}New Workout{% endblock %}

{% block body %}
    <h1>Create new Workout</h1>

    {{ include('workout/_form.html.twig') }}

    <a href="{{ path('app_workout_index') }}">back to list</a>
{% endblock %}
