{% extends 'base.html.twig' %}

{% block title %}New Workout{% endblock %}

{% block stylesheets_scrypts1 %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}
{% block stylesheets_scrypts %}
    {{ encore_entry_link_tags('create-workout') }}
    {{ encore_entry_script_tags('create-workout') }}
{% endblock %}

{% block body %}
    <form id="save_workout_form">
        <div class="btn-group btn-group-lg" role="group" aria-label="workout_buttons">
            <button id="add_exercise_button" type="button" class="btn btn-secondary btn-sm">Добавить упражнение</button>
            <button disabled="true" id="save_workout_button" type="submit" class="btn btn-success btn-sm">Сохранить тренировку</button>
        </div>
        <div id="exercises_blocks"></div>
    </form>
{% endblock %}
